*{
font-family: 'Arial', sans-serif;
}
h1{
    text-align: center;
    background-color: yellowgreen;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-bottom: 0px;
    text-shadow: 0 0 3px black;
    box-shadow: 0 0 7px rgba(0, 0, 0, 50);
}
li a {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 136, 0);
    line-height: 30px;
}
.list{
    padding: 7px;
    background-color: rgb(255, 255, 194);
}
.text_box{
    width: 800px;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 20px 20px 20px;
    
    background-color: rgb(255, 208, 127);
}
img{
    margin-top: 5px;
    width: 800px;
    height: auto;
    /* box-shadow: 0 0 7px rgba(0, 0, 0, 50); */
}
ul li,
ol li{
    margin-left: 5px;
    line-height: 20px;
}
h2{
    color: rgb(209, 101, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
