*{
    font-family: 'Open Sans';
    background-color: rgb(255, 242, 225);
    font-weight: 760;
    /* line-height: 2em;  */
}
.redText{
    color: rgb(250, 88, 88);
}
.blueText{
    color: rgb(83, 155, 255);
}
.greenText{
    color: rgb(127, 203, 127);
}