*{
    font-family: 'Open Sans';
}
body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    color: rgb(57, 57, 57);
}
#scoreDisplay{
    text-align: center;
    font-size: 1em;
    font-family: 'Open Sans';
    font-weight: 600;
    color: rgb(79, 72, 72);
    /* outline: 2px rgba(50, 50, 50, 100) solid; */
    background-color: rgb(244, 190, 120);
    padding: 1em 3em;
    border-radius: 5em;
    box-shadow: 0 0 0.8em #63616158;
    /* margin: 0px; */
}
.scoreText{
    font-size: 1.5em;
}
.selectButtons{
    font-size: 28px;
    margin: 2em 1em;
    justify-content: center;
    font-weight: 700;
    border: none;
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 1.2em;
    transition: box-shadow 0.3s, font-size 0.3s, color 0.3s;
}
.selectButtons:hover{
    cursor: pointer;
    box-shadow: 0 0 0.5em #02a7e8bf;
    outline: 2px rgba(0, 115, 255, 0.824);
}
.selectButtons:active{
    font-size: 25px;
    background-color: rgb(232, 232, 232);
}
