* {
    font-family: 'Open Sans';
}
body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
h1{
    text-align: center;
    font-size: 4em;
}
button{
    font-size: 1em;
    width: 8em;
    box-shadow: 0 0 0.1em;
    border-radius: 2em;
    background-color: #f6eded;
    transition: font-size 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
    align-items: space-between;
    border: none;
}
p{
    font-size: 2em;
    text-align: center;
    text-shadow: 0 0 1px 0.5em #606060a7;
}
button:hover{
    font-size: 1.2em ;
    background-color: #ededed;
    box-shadow: 0 0 0.5em #2185ff;
}
.choices{   
    margin: 0.6em auto;
    flex-direction: row;
    flex-wrap: wrap;
}